<h2>Showcase</h2>

<p>
  <b>Wine id:</b> {{wine_id}}
</p>

<p>
  <b>Name:</b> {{name}}
</p>

<p>
  <b>Published:</b> {{published}}
</p>

<p>
  <b>Version:</b> {{version}}
</p>

{{#linkTo "showcases"}}â†All Showcases{{/linkTo}}
{{#linkTo "edit_showcase" model}}Edit{{/linkTo}}
<a href="#" {{action "destroy"}}>Destroy</a>
